name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  phpunit:
    name: PHPUnit (PHP ${{ matrix.php-version }}, Drupal ${{ matrix.drupal-version }})
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version: ['8.1', '8.2', '8.3']
        drupal-version: ['10.4.x', '11.0.x']
        exclude:
          # Drupal 11 requires PHP 8.3+
          - php-version: '8.1'
            drupal-version: '11.0.x'
          - php-version: '8.2'
            drupal-version: '11.0.x'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, xml, ctype, iconv, intl, pdo_sqlite, mysql, gd
          coverage: xdebug

      - name: Setup Drupal
        run: |
          composer create-project drupal/recommended-project:${{ matrix.drupal-version }} /tmp/drupal --no-interaction
          cd /tmp/drupal
          composer config repositories.local path $GITHUB_WORKSPACE
          composer require "elektrorl/metatag_ai_generate:*" drupal/metatag drupal/ai drupal/key --no-interaction

      - name: Run PHPUnit
        run: |
          cd /tmp/drupal
          ./vendor/bin/phpunit -c web/core/phpunit.xml.dist web/modules/contrib/metatag_ai_generate/tests
